/* * {
  margin: 0;
  padding:0;
  box-sizing: border-box;
} */

/* the nav-bar */

.wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
}

/* Top Header Bar - Always Visible Everywhere */
.main-header {
  background-color: #243864;
  display: lex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 24px;
  shadow-sm: 0 1px 3px rgba(0,0,0,0.05);
}

/* Offcanvas Sidebar Drawer Panel Customization */
.offcanvas-sidebar {
  width: 280px !important;
  background-color: #243864 !important;
}

.offcanvas-sidebar .nav-link {
  color: #a3b1cc;
  font-size: 16px;
  padding: 12px 20px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  transition: all 0.2s;
  text-decoration: none;
}

.offcanvas-sidebar .nav-link:hover {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.05);
}

.offcanvas-sidebar .nav-link.active {
  background: #4e65f7;
  color: #ffffff;
}

.brand-icon {
  width: 32px;
  height: 32px;
  background: #3B82F6;
  border-radius: 8px;
}
/* the main content */

body {
   background-color: #F4F6FA;
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: #1E293B;
}

.card-body {
  box-shadow: 0 0 10px rgba(0,0,0,1);
  border-radius: 8px;
  width: 500px;
  height: 100px
}

.row {
  display: flex;
  text-align: center;


}







